<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <div id="app"> </div>
    <script>
        console.log(window.Vue);
        const app = Vue.createApp({
            data(){
                return {
                    text: "HappyLog",
                    sun_img:"https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRDSt7tGRmiehClAlMpzzi1_jbitO5rpackUQ&usqp=CAU",
                    counter:0,
                    msg: "Hoy comí helado",
                    firstName:"Claudio",
                    lastName:"Mallea",
                    open:false,
                    puerta_status:"puerta cerrada",
                    posts: [{id:0},{id:1},{id:2},{id:3}],
                    texto:"hola vue",
                    text_deep:"hola",
                };
            },
            computed:{
                fullName(){
                    return this.firstName+" "+this.lastName
                }
            }
            ,
            methods:{
                increment(){
                    this.counter++;
                },

                remove(id){
                    
                    const posts = this.posts.filter(p => p.id != id);
                    this.posts = posts;
                },
            },
            watch:{
                text(){
                    console.log()
                },
                open(value){
                    if(value){
                        this.puerta_status = "puerta abierta";
                    }
                    else{
                        this.puerta_status = "puerta cerrada";
                    }
                }
            },

            provide(){
                return {
                otroTexto:this.text_deep,
                }
            },

            template: `
                       <v-header>Titulo</v-header>
                       <div v-text="text"> </div> 
                       <p>Hola {{fullName}}</p>
                       <img :src="sun_img" :alt="sun_img"/> 
                       <button @click="increment"> {{counter}} </button>
                       <p>{{msg}}</p>
                       <input type="text" v-model="msg"/>
                       <button @click="open =!open" v-text="puerta_status"  >  </button>
                       <item v-for="(item,i) in posts" :key="i" :post="item" v-on:remove="remove"> </item>
                       <div>
                            <p>{{texto}}</p>
                            <v-input v-model:value="texto" />
                        </div>

                        <div>{{text_deep}}</div>
                        <otro/>
                       `


        })
        app.component("v-input", {
            props:{
                value: String
            },
            methods:{
                input(e){
                    this.$emit("update:value",e.target.value);
                }
            }
            ,
            template:`<input type="text" :value="value" v-on:input="input" /> `

        });
        app.component("otro",{

            template:`<tercer/>`

        })
        app.component("tercer", {
            inject:["otroTexto"],
            template:`<div>{{otroTexto}}</div>`
        })


        app.component("item", {
            props: ["post"],
            methods:{
                rm(id){
                    this.$emit('remove',id);
                }
            },
            template:`<div class ="item" v-on:click="rm(post.id)" >
                            <p>{{post.id}}</p> 
                      </div>`

        });

        app.component("v-header",{
            
            template:`
                <header><slot></slot></header>`

        });
        const vm = app.mount("#app")
    </script>
</body>
</html>